{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <h3>All Posts</h3>
    {% if request.user.is_authenticated %}
        <div class="list-item">
            <form id="new-post" action="{% url 'add_post' %}" method="POST">
                {% csrf_token %}
                <div class="form-group"><h5>New Post</h5></div>
                <input class="form-control" type="text" id="new_post_title" name="new_post_title" placeholder="Title" style="margin-bottom: 5px"></input>
                <textarea class="form-control" id="new_post_body" name="new_post_body" placeholder="Body" style="margin-bottom: 5px"></textarea>
                <input type="submit" class="btn btn-primary" value="Submit"></input>
            </form>
        </div>
    {% endif %}
    {% for post in posts %}
    <div class="list-item" style="margin: 0px; margin-bottom: 5px;">
        <h4 id="post-title" style="margin-bottom: 0px;">{{ post.title }}</h4>
        <p class="text-muted">Posted by <a href="" style="text-decoration: none;">{{ post.user }}</a> on {{ post.timestamp }}
            {% if request.user == post.user %}
            (<a href="">edit</a>)
            {% endif %}
        </p>
        <br>
        <p id="post-body">{{ post.body}}</p>
        <br>
        <div>
            {% with likes=post.likes.count %}
                {% if request.user == post.likes.like_user %}
                    <div id="icon-filled">
                        <p id="likes">
                            <svg id="filled-like-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                            {{ likes }}
                        </p>
                    </div>
                {% else %}
                    <div id="icon-empty"> 
                        <p id="likes">
                            <svg id="empty-like-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                            {{ likes }}
                        </p>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <p id="post-comment">Comment</p>
        <form id="new-post">
            <textarea class="form-control" id="comment-body" placeholder="Enter Comment Here" style="margin-bottom: 5px"></textarea>
            <input type="submit" class="btn btn-primary" value="Post"/>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}