{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <h3>All Posts</h3>
    <div class="list-item">
        <form id="new-post">
            <div class="form-group"><h5>New Post</h5></div>
            <textarea class="form-control" id="post-body" placeholder="Body" style="margin-bottom: 5px"></textarea>
            <input type="submit" class="btn btn-primary" value="Post"/>
        </form>
    </div>
</div>
<div class="container">
    {% for post in posts %}
    <div class="list-item" style="margin: 0px">
        <h4 id="post-title">Post Title</h4>
        <br>
        {% if request.user == post.user %}
            <p><a href="">Edit</a></p>
        {% endif %}
        <p id="post-body">{{ post.title }}</p>
        <p id="post-time" class="text-muted">{{ post.timestamp }}</p>
         {% with likes=post.likes.count %}
            {% if likes < 1 %}
                <a href="#" class="text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </a>
                <p class="text-muted">0</p>
            {% else %}
                {% if request.user == post.likes.like_user %}
                    <a href="#" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </a>
                    <p class="text-muted">{{ likes }}</p>
                {% else %}
                    <a href="#" class="text-decoration-none">    
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    </a>
                    <p class="text-muted">{{ likes }}</p>
                {% endif %}
            {% endif %}
        {% endwith %}
        <p id="post-comment">Comment</p>
        <form id="new-post">
            <textarea class="form-control" id="comment-body" placeholder="Enter Comment Here" style="margin-bottom: 5px"></textarea>
            <input type="submit" class="btn btn-primary" value="Post"/>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}