#empty-like-icon:hover {
    cursor: pointer !important;
    fill: red !important;
}

#filled-like-icon:hover {
    cursor: pointer !important;
    fill: grey !important;
}

.list-item {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 1em;
    opacity: 85%;
    padding: 1%;
}

.list-item > p {
    margin: 0px;
}